
textarea {
    width: 90%;
    height:90px;
}

.previewbutton {
    display: flex;
    justify-content: center;
    margin-top:2%;

}
body {
    height: 100%;
}
html {
    /*  responsive font-size for changing window size ( each pixel change ) */
    /* --root-font-size: calc(10px + (16 - 8) * ((100vw - 300px) / (1600 - 300))); */
      font-size: 15px;
     
}


span,p,h4,a {
   font-size: 1.25rem ;
}
h1 {
    font-size: 2rem ;
}
h2 {
    font-size: 1.5rem ;
}
h3 {
    font-size: 1.25rem ;
}


.main {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
}

select,label,input {
    font-size: 1.25rem;
    height: 2rem;
    width: 90%;
}

.button-style {
    display: flex;
    justify-content: space-around;
}
button {
    width:5rem;
    height: auto;
    padding: 0.5rem;
    font-size: 1rem;

}
#resume-form {
    width: 80%;
    text-align: center;
    margin: auto;
}
.form-layout { 
    display: flex;
    flex-direction: column;
    margin: 5%; 
}
.formOptions {
    overflow: auto;
}
.form-main {
    width: 34%;
    border: 1px solid rgb(215, 215, 231);
    margin: 3%;
    background-color: rgb(233, 237, 240);

}
.resume-main {

    width: 54%;
    display: flex;
    margin: 3%;
    border: 1PX solid rgb(216, 211, 211);
    background-color: #F6F1EB;

}
/* .dotted-line {
    border: none;
    border-top: 1px dotted rgb(216,204,190);
    color: rgb(61, 54, 54);
    background-color: rgb(134, 24, 24);
    height: 1px;
    
  }
  */

  .sub-heading {    
    color:rgb(209,196,171);
    
  }
  .name {
    word-break: normal ;
    color: rgb(76, 51, 21);
    margin:auto 0;
    
   
}
  .icon-color {
    background-color: rgb(209,196,171);
    border: 1px solid white;
    border-radius: 2rem;
    padding: 1rem;
    color:white; 
    align-self: flex-start;
  }

.left {
    width:31%;
    background-color: #F6F1EB;
    display: flex;
    flex-direction: column;
    padding: 2%;
  
  

}
.body {
    color: rgb(76, 51, 21);
}
.right {
    width:65%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2%;
}

.pic {  
    display: block;
    margin: auto;
    border-radius: 50%;
    width: 60%;
}

.section-layout {
    display: flex;
}
.icon-info {
    margin:auto;
    width: 60%;
    word-break: break-word;

}


.small-content-item {
    flex: 20%;
}
.content-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2%;
}
.extreme-right-item {
    text-align: end;
}
.logo { 
    margin: auto 5%;
    margin-left: 0;

}


.paragraph {
    overflow:scroll;
}
.content-item {
  flex:50%;
  margin:0px 0px;
  padding: 0 0;
}
span {
    font-weight: bold;
}

.content-layout {
    display: flex;
    flex-direction: column;

}

.parent-small-item {
    display: flex;
    padding-left: 0%;
}
.small-item {
    list-style: none;
    flex: 33%;
}

@media  only screen and (max-width:549px)  {
    .resume-main {
        flex-direction: column;
   }
    .left {
        width:96%;
    }
    .right {
        width:96%;
    }
    html {
        font-size: 8px;
    }
    .pic {
        width: 40%;
    }
    h2 {
        font-size: 2rem;
    }
    h3,select,label,input,a,p,h4,span {
        font-size: 1.5rem;
    }
    .name,.sub-heading {
        margin: 2% auto;
    }   
    /* .section-name {
        margin-left: 5%;
    } */
    
}

@media only screen and (max-width:848px) {
    html {
        font-size: 10px;
    }
  
   
}

@media only screen and ( (min-width:849px) and (max-width:1230px) ) {
    /* dotted line has been removed  */
    /* .dotted-line {
        display: none;
    } */
    html {
        font-size: 12px;
    }
    
}